.wrapper {
  width: 520px;
}

.title {
  font-size: 82px;
  font-weight: 100;
  text-align: center;
  color: var(--color-brown);
}

.todo {
  box-shadow: var(--box-shadow);
  border: var(--border);
}
