.wrapper {
  display: flex;
}

.input {
  width: 100%;

  background-color: var(--color-white);
  color: var(--color-black);
  padding: 14px 46px;
  font-size: 16px;
  font-weight: 400;
  border: var(--border);
  outline: none;
  border-right: none;

  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: var(--color-black);
    opacity: 0.2;
    font-weight: 400;
    font-style: italic;
  }

  &:focus {
    background-color: var(--color-white);
  }
}

.button {
  background-color: var(--color-white);
  border: var(--border);
  border-left: none;
  width: 60px;
  font-size: 18px;
  color: var(--color-gray);
  font-weight: 400;

  &:hover {
    background-color: var(--color-gray-1);
  }
}
