.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: var(--border);
  background-color: var(--color-white);
}

.text,
.markedText {
  font-size: 18px;
  width: 100%;
  padding: 14px 46px;
}

.markedText {
  text-decoration: line-through;
  opacity: 0.6;
}

.checkbox {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--checkbox);
}
